

.header__text-noticias{
    width: max(32vw, 340px);
}



.button--news {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}




.news{
   padding-top: 100px;
   padding-bottom: 80px;
}
.news__grid-DK{

    display: none;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 80px;
   
    grid-column-gap: max(1.56vw,30px);
}

.new-box__img{
    width: 100%;
    height: auto;
}
.new-box__box-info{
    display: flex;
    justify-content: space-between;
    margin-top:18px;
    font-family: ToyotaType-Regular;
}
.new-box__info{
    color:#666666;
    font-size: 0.875rem;

}
.new-box__date{
    font-size: 0.875rem;

}
.new-box__title{
    font-family: DecimaMonoPro-Bold;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top:16px;
}
.new-box__text{
    margin-top: 20px;
    font-size: 1rem;
    font-family: ToyotaType-Regular;
  
   
    line-height: 1.4rem;
}
.new-box__tags{
   display: flex;
   padding-top: 10px;
   flex-wrap: wrap;
}
.new-box__tag{
    font-size: 0.75rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F2F2F2 ;
    border: solid 1px #F2F2F2;
    border-radius: 52px;
    width: fit-content;
    height: fit-content;
    margin-right: 7px;
    margin-bottom: 7px;
    padding: 8px;
    font-family: ToyotaType-Regular;
}
.news__grid-MB{
    display:none
}
.box__text-border{
    border-bottom: 1px solid #666666;
    height: 100%;
    margin-bottom: 30px;
}


.news__flitro-botones{
    display: flex;
    margin-bottom: 44px;
}

.filtro__boton{
    padding: 15px 20px 15px 20px;
    color:#fff;
    font-size: 0.75rem;
    background-color:#E60010;
    font-family: DecimaMonoPro;
    display: flex;
	justify-content: center;
	align-items: center;
    width: fit-content;
    text-transform: uppercase;
    margin-left: 17px;
    max-height:17px ;

}
.filtro__boton:hover{
    cursor: pointer;
}


.multiselect {
    width: fit-content;
    font-family: ToyotaType-Regular;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    padding: 7px 10px 13px 10px;
  
}
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .overSelect:hover{
      cursor: pointer;
  }
  #select{
      font-family: ToyotaType-Regular;
      font-size: 1rem;
      border: 1px #707070 solid;
  }
   #checkboxes {
    display: none;
    border: 1px #707070 solid;
    padding: 10px;
    border-top: none;
  }
  
  #checkboxes label {
    display: block;
    margin-bottom: 6px;
  }
  
  #checkboxes label:hover {
    
    cursor: pointer;
  }  

  label,  input[type="checkbox"] {
    line-height: 2.1ex;
    }
    
    
    input[type="checkbox"] {
    position: absolute;
    left: -999em;
    }
    
    
    input[type="checkbox"] + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    }
    
    
    input[type="checkbox"] + label::before {
        content: "";
        display: inline-block;
        vertical-align: -25%;
        height: 16px;
        width: 16px;
        background-color: white;
        border: 1px solid #707070;
        margin-right: 0.5em;
    }
    
    
    
    
    input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 3px;
    background: rgba(0, 0, 0, 0);
    top: 5.9px;
    left: 3px;
    border: 3px solid #E60010;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
@media(max-width:768px) {


    .news__grid-DK{
        grid-template-columns: 100%;
      }
      .box-1{
        grid-column: 1; 
        grid-row:1;    
    }
    .box-4{
        grid-column: 1; 
        grid-row:2;
    }
    .box-7{
        grid-column: 1; 
        grid-row:3;
    }
    .box-10{
        grid-column: 1; 
        grid-row:4;
    }
    .box-13{
        grid-column: 1; 
        grid-row:5;
    }
    .box-2{
        grid-column: 1; 
        grid-row:6;
    }
    .box-5{
        grid-column: 1; 
        grid-row:7;
    }
    .box-8{
        grid-column: 1; 
        grid-row:8;
    }
    .box-11{
        grid-column: 1; 
        grid-row:9;
    }
    .box-14{
        grid-column: 1; 
        grid-row:10;
    }
    .box-3{
        grid-column: 1; 
        grid-row:11;
    }
    .box-6{
        grid-column: 1; 
        grid-row:12;
    }
    .box-9{
        grid-column: 1; 
        grid-row:13;
    }
    .box-12{
        grid-column: 1; 
        grid-row:14;
    }
    .box-15{
        grid-column: 1; 
        grid-row:15;
    }
    .new-box__tags {
        margin-bottom: 20px;
     
    }
    .news__grid-DK{

       
        margin-bottom: 0;
       
       
    }
    .button--news {
      
        margin-top: 30px;
    }
}

@media(max-width:500px) {

.new-box__box-info{
  flex-direction: column;
}
.new-box__date{
    font-size: 0.625rem;
    font-family: DecimaMonoPro;
    margin-bottom: 10px;
}
.new-box__info{
    font-size: 0.625rem;
    font-family: DecimaMonoPro;
    color:#666666;
    margin-bottom: 10px;
}
 .news__grid-MB__new-row1{
     display: flex;
 }

 .new-box__tags {
  
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}
.new-box__tag{
    font-size: 0.625rem;
}
    .news{
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .news__grid-DK{
        margin-top: 30px;
    }
    .news__grid-MB{
        display:flex;
        flex-direction: column;
        }
        .news__grid-DK{
            display:none;
            }
  


    .news__grid-MB{
        margin-top: 30px;
    }
    .news__grid-MB__new{
        display: none;
        margin-bottom: 20px;
        flex-direction: column;
     
    }
    .news__grid-MB__img{
        width: 42%;
    }
    .news__grid-MB__info{
        width: 66%;
        display: flex;
        padding-left: 10px;
        padding-top: 4px;
        flex-direction: column;
    }
    .news__grid-MB__date{
        font-size: 0.75rem;
        color:#666666;
        margin-bottom: 10px;
        font-family: ToyotaType-Regular;
    }
    .news__grid-MB__title{
        font-size: 0.75rem;
        text-transform: uppercase;
        font-family: DecimaMonoPro-Bold;
        line-height: 1rem;
    }
.new-box__box-info {
     margin-top:0; 

}
    .button--news {
       
        margin-top: 10px;
    }
    .news__flitro-botones{
       flex-direction: column;
        margin-bottom: 29px;
        width: 100%;
    }
    .filtro__boton{
        margin-left: 0;
        width: 100%;
        margin-top: 18px;
        padding: 15px 0 15px 0;
    }
    .multiselect {
        width: 100%;
     
    }
}

