

body{
    font-family:DecimaMonoPro;
}
a{
    text-decoration: none;
}
    .header{
        height: 52px;
        width: 100%;
        display: flex;
        align-items: center;
      
        position: fixed;
        top:0;
        z-index:2;
        background-color: #fff;
    }

    .header__options{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 100px;
        height: 100%;
    }

    .header__option{
       width: fit-content;
       padding-left: 30px;
       padding-right: 30px;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
       
    }
    
    .header__option:hover{
      
       cursor: pointer;
     
    }
  
    .header__logo{
        width: 270px;
        height: auto;
        margin-left: 170px;
        margin-right: 352px;        
    }

    .header__text{
        font-size: 0.875rem;
        text-transform: uppercase;
        text-align: center;
    }

    .header__submenu {
        position: absolute;
        top:52px;
        background-color: #000;
        color:#fff;
        width: 100%;
        display: none;
    }

    .submenu--active{
        background-color: #000;
        color:#fff;
    }

    .submenu--inactive{
        background-color: #fff;
        color:#000;
    }

    .header__submenu-opt {
        height: 40px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 0.875rem;
        color:#B2B2B2;
        background-color: #000;
        
        }
    
        .header__submenu-opt:hover {
       cursor: pointer;
       color:#fff;

        }

    

        .header__arrow-container-right{
           display: none;
       }

        .header__arrow-img{
            width: 16px;
            height: auto;
        }

    .main{
        height: 1500px;
        z-index:1;
        margin-top:37px;
        background-color: lightskyblue;
    }

    .header__language-img{
        width: 16px;
        margin-right: 5px;
    }

    .header__burger{
        display: none;
    }
    
    @media(max-width:1600px) {
        
        .header__logo{

            margin-left: 70px;
            margin-right: 10%;
        }
    }

    @media(max-width:1300px) {
        
        .header__logo{

            margin-left: 20px;
            margin-right: 5%;
        }

        .header__options{
            margin-right: 30px;
        }
        .header__option{
            padding-left: 30px;
       padding-right: 30px;
        }
    }
    @media(max-width:900px) {
        
       .header__logo{
           width: 20%;
       }
       .header__text {
           font-size: 0.75rem;
       }
       .header__submenu-opt{
        font-size: 0.625rem;
       }
    }

    @media(max-width:650px) {
        .header{
            z-index: 3;
        }
      .header__options{
          flex-direction: column;
          width: 100%;
          position: absolute;
         
          align-items: baseline;
          height: fit-content;
        z-index: 2;
          top: -192px;
          transition: top 0.5s;
      }
      .header__option{
          height: 60px;
          border-bottom: solid 1px #E8E8E8;
          width: 95%;
          display: flex;
          justify-content: flex-start;
          background-color:#F8F8F8;
          padding-left: 5%;
          padding-right: 0;
         
      }
      .header__logo{
           width: 244px;
           margin-right: 0;
       }
       .header__burger-container{
           width: 100%;
           padding-right: 15px;
           display: flex;
           justify-content: end;
       }
       .header__burger{
           display: block;
           width: 16px;
           height: auto;
       }
       .header__arrow-container-right{
            width: 15%;
            display: flex;
            justify-content: end;
            padding-right: 45px;
        }
       .header__text{
           text-align: initial;
           width: 100%;
           font-size: 0.8125rem;
       }
       .header__submenu-opt{
           background-color: #F8F8F8;
           color:#000;
           height: 60px;
           border-top: solid 1px #E8E8E8;
           font-size: 0.8125rem;
       }
       .header__submenu{
           left: 0;
       }
       .header__submenu-opt:hover {
       cursor: pointer;
       color:#000;
       
        }
     
       .header__submenu-text{
           width: 75%;
       }
       .header__arrow-container-left{
           display: none;
           margin-right: 10px;
       }
       .header__separator_option{
           width: 20px;
           background-color:#F8F8F8 ;
       }
     }
