.header__container {
    width: 100%;
    position: relative;
}

.header__text {
    position: absolute;
    bottom: 14.5%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__phrase {
    font-size: max(2.8125vw, 30px);
    line-height: max(3.5vw, 38px);
    color: #fff;
    width: max(32vw, 340px);
    text-transform: uppercase;
    text-align: center;
    font-family: DecimaMonoPro-Bold;
}

.header__img {
    width: 100%;
    height: auto;
}

.header__img--DK {
    display: block;
}

.header__img--MB {
    display: none;
}


.prox-carrera {

    padding-top: 80px;
}

.prox-carrera__text {
    font-size: 0.875rem;
    margin-top: 20px;
    margin-bottom: 100px;
    line-height: 1.3rem;
}

.prox-carrera__cron-titulo {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.prox-carrera__cron-container {
    width: 405px;
    height: 235px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.separator {
    color: #ff0022;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 1.2rem;
    padding-bottom: 11px;
}

.prox-carrera__time {
    display: flex;
    align-items: center;
}

.prox-carrera__numbers {
    font-size: 2.5rem;

    font-family: DecimaMonoPro-BoldItalic;
}

.prox-carrera__units {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
    text-transform: uppercase;
    font-family: DecimaMonoProLt;
}

.prox-carrera__unit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prox-carrera__trazo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}

.prox-carrera__trazo-img {
    width: 330px;
    height: auto;
}

.prox-carrera__trazo-text {
    position: absolute;
    top: 24px;
    font-family: DecimaMonoPro-Bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
    width: 90%;
    text-align: center;
    padding-left: 25px;
}

.clasif__table {
    display: grid;
    grid-template-columns: 50px minmax(240px, auto)32vw 58px;
    grid-gap: 10px;
    background-color: transparent;
    color: #000;
    margin-top: 55px;
    width: fit-content;
    grid-column-gap: 3vw;
}

.box {
    display: flex;
    align-items: center;

}

.clasif {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.clasif__content {
    position: absolute;
    top: 105px;
    max-width: 1200px;
    width: 100%;
}

.clasif__img {
    width: 100%;
    height: 573px;
    object-fit: cover;
}

.clasif__img--MB {
    display: none;
}

.clasif__img--DK {
    display: block;
}

.clasif__logo-img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.box-elem {
    font-family: ToyotaType-Regular;
}

.box-elem-logo {
    display: flex;
    align-items: center;
}

.box-title {
    font-family: DecimaMonoPro-Bold;
    font-size: 1rem;

}

.button--position {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.box-elem--pos {
    padding-left: 7px;
}

.box-elem--puntos {
    justify-content: end;
}
.last-news{
    margin-top: 100px;
}
.last-news__grid{
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
   
    grid-column-gap: max(1.56vw,30px);
}
.last-news__new-box{
display: flex;    
flex-direction: column;
}
.new-box__img{
    width: 100%;
    height: auto;
}
.new-box__box-info{
    display: flex;
    justify-content: space-between;
    margin-top:18px;
}
.new-box__info{
    color:#666666;
    font-size: 0.875rem;
}
.new-box__date{
    font-size: 0.875rem;

}
.new-box__title{
    font-family: DecimaMonoPro-Bold;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top:16px;
}
.new-box__text{
    margin-top: 20px;
    font-size: 1rem;
    font-family: ToyotaType-Regular;
    border-bottom: 1px solid #666666;
    padding-bottom: 10px;
    line-height: 1.4rem;
}
.new-box__tags{
   display: flex;
   padding-top: 10px;
   flex-wrap: wrap;
}
.new-box__tag{
    font-size: 0.75rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F2F2F2 ;
    border: solid 1px #F2F2F2;
    border-radius: 52px;
    width: fit-content;
    height: fit-content;
    margin-right: 7px;
    margin-bottom: 7px;
    padding: 8px;
}
@media(max-width:1300px) {

    .prox-carrera {
        width: 90%;
    }

    .clasif__content {
        width: 90%;
    }
}

@media(max-width:900px) {


    .clasif__table {

        grid-template-columns: 50px minmax(240px, auto)32vw 58px;
        grid-gap: 10px;
        background-color: transparent;
        color: #000;
        margin-top: 55px;
        width: fit-content;
        grid-column-gap: 1vw;
    }

}

@media(max-width:768px) {

    .prox-carrera {
        width: 90%;
    }

    .clasif__content {
        width: 90%;
    }

    .clasif__logo-text {
        display: none;
    }

    .clasif__logo-img {
        padding-left: 10px;
    }

    .clasif__table {

        grid-template-columns: 50px minmax(45vw, auto)15vw 58px;
        grid-gap: 10px;
        background-color: transparent;
        color: #000;
        margin-top: 55px;
        width: fit-content;
        grid-column-gap: 1vw;
    }
}

@media(max-width:500px) {

    .prox-carrera {
        padding-top: 50px;
    }

    .header__text {
        bottom: 20px;
    }

    .header__img--DK {
        display: none;
    }

    .header__img--MB {
        display: block;
    }

    .clasif__img--DK {
        display: none;
    }

    .clasif__img--MB {
        display: block;
    }

    .header__phrase {
        font-size: 8.33vw;
        width: 94.44vw;
        line-height: 9.5vw;
    }


    .prox-carrera__text {
        font-size: 1rem;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .prox-carrera__cron-container {
        width: 90%;
        margin-top: 30px;
    }

    .separator {

        margin-left: 2vw;
        margin-right: 2vw;

    }

    .clasif__table {
        font-size: 0.75rem;
        margin-top: 37px;
        grid-template-columns: 30px minmax(45vw, auto)20vw 58px;

    }

    .box-title {
        font-size: 0.75rem;
    }

    .clasif {
        margin-top: 30px;
    }

    .box-elem--puntos {
        padding-right: 13px;
    }

    .clasif__content {

        top: 20px;

    }

    .clasif__logo-img {
        padding-left: 6px;
    }

    .button--position {

        margin-top: 30px;
    }
}