
.modal-contenido{
   
    margin:  auto;
    position: relative;
    padding: 20px;
    background-color: #fff;
  }
  .modal {
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   
    transition: all 0.5s;
    z-index: 3;
    margin: auto;
   
    pointer-events:auto;
    display: none;
}

  .image-open{
      width: 50vw;
      height: auto;
  }
.modal__close-img {
    position: absolute;
    width: 15px;
    height: auto;
    top: 3px;
    right: 4px;
}
.modal__close-img:hover{
cursor: pointer;
}
.ficha-tecnica{
   
    background-size: 100% 100%;
    height: fit-content;
    padding-top: 80px;
    padding-bottom: 30px;
    background: no-repeat;
  
}

.h3--style{
    font-family: DecimaMonoPro-Bold;
}

.ficha__mostrar{
  
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family:DecimaMonoPro;
  
  }
.ficha__mostrar:hover{
    cursor: pointer;
}
.ficha__mostrar-texto{
    font-size: 1rem;
    text-decoration: underline;
    min-width: 154px;
    text-align: right;

  }

  .ficha__mostrar-arrow{
    width: 10px;
    height: auto;
    margin-left: 10px;
    transform: rotate(90deg);
    margin-top: 2px;
  }

  .ficha-tecnica__title{
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
  }
  .pareja__elemento-ficha{
      background-color:#fff;
      width: 42.9%;
      padding:30px;
      height: fit-content;
      box-shadow: 0px 3px 56px #00000029;
  }
  .ficha-tecnica__caracter{
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
  }

  .ficha__titulo{
      color:#E60010;
      font-family: DecimaMonoPro-Bold;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      margin-bottom: 48px;
  }

  .ficha-tecnica__pareja{
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
  }
  .ficha-tecnica__caracter-key{
      font-family:ToyotaType-Semibold ;
      width: 50%;
  }

  .ficha-tecnica__caracter-value{
    font-family:ToyotaType-Regular ;
    width: 50%;
    text-align: right;
   
}

.ficha-tecnica__lista-parejas{
    display: none;
}

.componentes{
    padding-top: 80px;
}
.componente__caracter{
    font-family: ToyotaType-Regular;
    margin-bottom: 10px;
  
   
}

.pareja__elemento-componente{
    background-color:#fff;
    width: 46.4%;
    z-index: 2;
    
    padding: 10px 30px 10px 30px;
    height: fit-content;
   
}

.componente__img{
    width: 649px;
    height: auto;
}
.componente__img-DK{
display: block;
}
.componente__img-MB{
    display: none;
}
.componente__pareja{
    position: relative;
    display: flex;
    align-items: center;
    height: 643px;
}
.pareja__elemento-imagen{
    position: absolute;
   width: fit-content;
    height: fit-content;
    right: 0;
    z-index: 1;
   
}
.pos-DER{
    position: absolute;
    right: 0;
  
}
.pos-IZQ{
    position:absolute;
    left: 0;
    
}
.galeria{
    padding-bottom: 80px;
    padding-top: 80px;
}
.galeria__grid{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: grid;
    grid-template-columns:  16.49% 16.49% 16.49% 16.49% 16.49% 16.49%;
    grid-template-rows: auto;
    column-gap: 4px;
    row-gap: 3px;
    
    grid-template-areas: 
      "item1 item1 item2 item2 item3 item3"
      "item4 item5 item6 item6 item7 item8"
}
.item-1 {
    grid-area: item1;
  }
  .item-2 {
    grid-area: item2;
  }
  .item-3 {
    grid-area: item3;
  }
  .item-4 {
    grid-area: item4;
  }
  .item-5 {
    grid-area: item5;
  }
  .item-6 {
    grid-area: item6;
  }
  .item-7 {
    grid-area: item7;
  }
  .item-8 {
    grid-area: item8;
  }
  .grid__img{
      width: 100%;
      height: auto;
  }
  .grid__img:hover{
    cursor:pointer;
}
.width-100{
    width: 100%;
}
.width-0{
    width: 0;
}
@media(max-width:1250px){
    .center-content-no-margin{
        width: 90%;
    }
}
@media (max-width:980px){
    .pareja__elemento-ficha{
        width: 44%;
        padding: 20px;
    }
    
  .ficha-tecnica__pareja{
  
    margin-bottom: 20px;
}
.ficha-tecnica__caracter-key{
    
    font-size: 0.875rem;
}
.componente__caracter{
    font-size: 0.875rem;
}
.ficha-tecnica__caracter-value{
   
    font-size: 0.875rem;

}
.pareja__elemento-componente{
    width: 45%;
}
}

@media (max-width:768px){
   .pareja__elemento-ficha{
        width:90%;
        margin-bottom: 20px;
        background: transparent;
       
    }
    .ficha-tecnica{
        padding-top: 50px;
        background-size: cover;
    }
    .ficha-tecnica__title{
     
        margin-bottom: 38px;
    }
    .componentes__title{
        padding-left: 30px;
        padding-right: 30px;
    }
   .ficha__titulo{
       text-transform: uppercase;
       margin-bottom: 40px;
       font-size: 1rem;
   }
    .h3--style{
        font-family: DecimaMonoPro;
        text-transform: uppercase;
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
    .ficha-tecnica__pareja {
        flex-direction: column;
        margin-bottom: 0;
    }

    .ficha-tecnica__caracter-key{
        font-family: DecimaMonoPro-Bold;
        font-size: 0.75rem;
    }

    .ficha-tecnica__caracter-value{
        font-family: DecimaMonoPro;
        font-size: 0.75rem;
    text-align: left;
    }
.ficha__mostrar-texto{
    display: none;
}
.componentes{
padding-top: 50px;
}
.componente__img-DK{
    display: none;
    }
    .componente__img-MB{
        display: block;
    }
    .componente__pareja{
        flex-direction: column-reverse;
        height: auto;
        margin-bottom: 20px;
    }
    .pareja__elemento-imagen{
        position: relative;
        width: 100%;
        margin-bottom: 25px;
    }
 
  
    .pareja__elemento-componente{
        width: 85%;
      
    }
    .componente__img{
        width: 100%;
    }
    .center-content-no-margin{
        width: 100%;
    }
    .componente__caracter{
        font-size: 0.75rem;
        font-family: DecimaMonoPro;
        line-height: 1rem;
    }
    .pos-DER{
        position: relative;
      
    }
    .pos-IZQ{
        position:relative;
       
    }
    .galeria__grid{
        display: flex;
        flex-direction: column;
    }
    .galeria{
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .image-open{
        width: 75vw;
    }
}

@media (max-width:500px){
   
}