

.modal-contenido{
   
    margin:  auto;
    position: relative;
    padding: 20px;
    background-color: #fff;
  }
  .modal {
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
   
    transition: all 0.5s;
    z-index: 3;
    margin: auto;
   
    pointer-events:auto;
    display: none;
}


.modal__close-img {
    position: absolute;
    width: 15px;
    height: auto;
    top: 3px;
    right: 4px;
}
.modal__close-img:hover{
cursor: pointer;
}

.last-news{
 
   padding-bottom: 80px;
}
.last-news__grid-DK{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
   
    grid-column-gap: max(1.56vw,30px);
}

.new-box__img{
    width: 100%;
    height: auto;
}
.new-box__box-info{
    display: flex;
    justify-content: space-between;
    margin-top:18px;
    font-family: ToyotaType-Regular;
}
.new-box__info{
    color:#666666;
    font-size: 0.875rem;

}
.new-box__date{
    font-size: 0.875rem;

}
.new-box__title{
    font-family: DecimaMonoPro-Bold;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top:16px;
}
.new-box__text{
    margin-top: 20px;
    font-size: 1rem;
    font-family: ToyotaType-Regular;
    border-bottom: 1px solid #666666;
    padding-bottom: 30px;
    line-height: 1.4rem;
}
.new-box__tags{
   display: flex;
   padding-top: 10px;
   flex-wrap: wrap;
}
.new-box__tag{
    font-size: 0.75rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F2F2F2 ;
    border: solid 1px #F2F2F2;
    border-radius: 52px;
    width: fit-content;
    height: fit-content;
    margin-right: 7px;
    margin-bottom: 7px;
    padding: 8px;
    font-family: ToyotaType-Regular;
}
.last-news__grid-MB{
    display:none
}

.titulo-noticia{
    text-transform: inherit;
}

.noticia{
    padding-top: 80px;
}

.titulo-secundario{
    margin-bottom: 20px;
}
.noticia__tags{
  
        display: flex;
       width: 30%;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 30px;
     
}
.noticia__tag{
    font-size: 0.75rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F2F2F2 ;
    border: solid 1px #F2F2F2;
    border-radius: 52px;
    width: fit-content;
    height: fit-content;
    margin-right: 7px;
    margin-bottom: 7px;
    padding: 8px;
    font-family: ToyotaType-Regular;
}
.noticia__rrss-tags{
    display: flex;
    justify-content: space-between;
}
.noticia__facebook{
width: 20px;
height: auto;
margin-right: 15px;
}
.noticia__twitter{
    width: 20px;
    height: auto;
}
.noticia__fecha{
    font-size: 0.875rem;
    font-family: ToyotaType-Regular;
    margin-right: 15px;
   
    padding-top: 4px;
}
.noticia__rrss{
    display: flex;
  
}
.noticia__separador{
    border-bottom:solid 1px #CCCCCC;
    height: 1px;
    margin-bottom: 50px;
}
.noticia__texto{
    margin-bottom: 80px;
}
.noticia__texto p{
    font-size: 1rem;
    font-family: ToyotaType-Regular;
    margin-bottom: 20px;
    line-height: 1.3rem;
}
.noticia__img{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.noticia__texto-superior{
    margin-bottom: 28px;
    font-family: ToyotaType-Regular;
    line-height: 1.3rem;

}
.galeria{
    padding-bottom: 80px;
}
.galeria__grid{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 16.53% 16.53% 16.53% 16.53% 16.53% 16.53%;
    grid-template-rows: auto;
    column-gap: 3px;
    row-gap: 0;
    grid-template-areas: 
      "item1 item1 item2 item3 item4 item4"
      "item1 item1 item7 item7 item4 item4"
      "item5 item6 item7 item7 item8 item9"
}
.item-1 {
    grid-area: item1;
    position: relative;
   
  }
  .item-2 {
    grid-area: item2;
    position: relative;
   
  }
  .item-3 {
    grid-area: item3;
    position: relative;
   
  }
  .item-4 {
    grid-area: item4;
    position: relative;
  }
  .item-5 {
    grid-area: item5;
    position: relative;
  }
  .item-6 {
    grid-area: item6;
    position: relative;
  }
  .item-7 {
    grid-area: item7;
    position: relative;
  }
  .item-8 {
    grid-area: item8;
    position: relative;
  }
  .item-9 {
    grid-area: item9;
    position: relative;
  }
  .grid__img{
      width: 100%;
      height: auto;
    
  }
  .galeria__boton-play{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 16%;
      height: auto;
      opacity: 0.6;
      z-index: 1;
  }
  .galeria__boton-play:hover{
      cursor: pointer;
     
  }

  .grid__img:hover{
    cursor:pointer;
}
.modal .grid__img{
    width: 50vw;
    height: auto;
}
.iframe-video{
    width: 42vw;
    height: 31.5vw;
} 
.item-any:hover .galeria__boton-play {
opacity: 1;
}
#openVideo:hover .galeria__boton-play{
    opacity: 1;
}


.item-any {
    height: auto; 
    overflow: hidden; 
  }
  
  .grid__img {
    transition: transform .5s ease;
  }
  
  .grid__img:hover {
    transform: scale(1.2);
  } 
  .modal-contenido .grid__img:hover{
      transform: scale(1);
  }
  .galeria__text-img{
      color:#fff;
      padding: 15px 9px 14px 15px;
      position:absolute;
      bottom:0;
      background: rgba(0,0,0,.2);
      width: 96%;
  }
  .galeria__text-img-titulo{
    font-size: 1.125rem;
    font-family: DecimaMonoPro;
    margin-bottom: 15px;
  }
  .galeria__text-img-text{
    font-size: 0.875rem;
    font-family: ToyotaType-Regular;
    line-height: 1.2rem;
  }

  @media (max-width:1200px){
    .noticia__rrss-tags {
       
        flex-direction: column;
       
    }
    .noticia__tags {

       
        width: 100%;
        justify-content: flex-start;
      
        margin-top: 25px;
    }
  }
@media(max-width:768px) {


    .last-news__grid-DK{
        grid-template-columns: 100%;
      }
      .box-1{
        grid-column: 1; 
        grid-row:1;    
    }
    .box-4{
        grid-column: 1; 
        grid-row:2;
    }
    .box-7{
        grid-column: 1; 
        grid-row:3;
    }
    .box-10{
        grid-column: 1; 
        grid-row:4;
    }
    .box-13{
        grid-column: 1; 
        grid-row:5;
    }
    .box-2{
        grid-column: 1; 
        grid-row:6;
    }
    .box-5{
        grid-column: 1; 
        grid-row:7;
    }
    .box-8{
        grid-column: 1; 
        grid-row:8;
    }
    .box-11{
        grid-column: 1; 
        grid-row:9;
    }
    .box-14{
        grid-column: 1; 
        grid-row:10;
    }
    .box-3{
        grid-column: 1; 
        grid-row:11;
    }
    .box-6{
        grid-column: 1; 
        grid-row:12;
    }
    .box-9{
        grid-column: 1; 
        grid-row:13;
    }
    .box-12{
        grid-column: 1; 
        grid-row:14;
    }
    .box-15{
        grid-column: 1; 
        grid-row:15;
    }
    .new-box__tags{
        margin-bottom: 20px;
    }


}

@media(max-width:500px) {


    .last-news{
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .last-news__grid-DK{
        margin-top: 30px;
    }
    .last-news__grid-MB{
        display:flex;
        flex-direction: column;
        }
        .last-news__grid-DK{
            display:none;
            }

    .last-news__grid-MB{
        margin-top: 30px;
    }
    .last-news__grid-MB__new{
        display: flex;
        margin-bottom: 20px;
       
    }
    .last-news__grid-MB__img{
        width: 34%;
    }
    .last-news__grid-MB__info{
        width: 66%;
        display: flex;
        padding-left: 10px;
        padding-top: 4px;
        flex-direction: column;
    }
    .last-news__grid-MB__date{
        font-size: 0.75rem;
        color:#666666;
        margin-bottom: 10px;
        font-family: ToyotaType-Regular;
    }
    .last-news__grid-MB__title{
        font-size: 0.75rem;
        text-transform: uppercase;
        font-family: DecimaMonoPro-Bold;
    }
}

