.equipos{
  padding-top: 100px;
  padding-bottom: 100px;
}
.equipo {
 
 border-bottom: 1px solid #B2B2B2;
height: fit-content;
 width: 100%;
}

.equipo__resumen{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.no-display{
  display: none;
}
.equipo__resumen:hover{
cursor: pointer;
}

.equipo__logo{
  width: 100px;

}

.equipo__logo-img{
width: 70px;
height: auto;
}

.equipo__title{
  font-size: 1.5rem;
 
  width: 70%;
  text-transform: uppercase;
}

.equipo__mostrar{
  width: 24%;
  display: flex;
  justify-content: flex-end;
  min-width: 260px;
}
.equipo__mostrar-texto{
  font-size: 1rem;
  text-decoration: underline;
 
  
}
.equipo__mostrar:hover{
cursor: pointer;  
}
.equipo__mostrar-arrow{
  width: 10px;
  height: auto;
  margin-left: 10px;
  transform: rotate(90deg);
}

.equipo__pilotos{
  width: 100%;
  display: none;
  grid-template-columns: 48.75% 48.75%;
  grid-template-rows: auto;
  column-gap: 2.5%;
  margin-bottom: 35px;

}
.equipo__pilotos--image{
  width: 100%;
  display: none;
  grid-template-columns: 48.75% 48.75%;
  grid-template-rows: auto;
  column-gap: 2.5%;
  margin-bottom: 35px;
  grid-template-areas: 
  "image image"
  "equipo__piloto1 equipo__piloto2"
 
}
.piloto__img{
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.piloto__info{
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  margin-bottom: 32px;
}
.piloto__info-nombre{
 text-transform: uppercase;
 margin-bottom: 10px;
}
.piloto__text{
  line-height: 1.4rem;
}
.equipo__piloto-separador{
  display: none;
}
.equipo__pilotos-img{
  grid-area: image;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.equipo_piloto--1{
  grid-area: equipo__piloto1;
}
.equipo_piloto--2{
  grid-area: equipo__piloto2;
}
@media(max-width:768px){
  .equipo__mostrar-texto{
    display: none;
  }
  .equipo__mostrar{
    width: fit-content;
    min-width: unset;
  }

  .equipo__title{
    font-size: 1.125rem;
   
    width: 90%;
    text-transform: uppercase;
  }

  .equipos {
    padding-top: 40px;
}

}

@media(max-width:500px){
  .equipo {
  
   border-bottom: none;

  
  }
   .equipo__pilotos{
  
    grid-template-columns: 100%;
    grid-template-rows: auto;
   row-gap: 40px;
    margin-bottom: 35px;
  
  } 

  .equipo__pilotos--image{
  
    grid-template-columns: 100%;
    grid-template-rows: auto;
   row-gap: 40px;
    margin-bottom: 35px;
    grid-template-areas: 
    "image"
    "equipo__piloto1"
    "equipo__piloto-separador"
    "equipo__piloto2"
  
  
  } 
  .equipo__piloto-separador{
    display: block;
    background-color:#EFEFEF;
    height: 10px;
   
   
  }
  .equipo__piloto-separador--big{
    grid-area: equipo__piloto-separador;
  }
.piloto__img{
  margin-bottom: 20px;
}
.equipo__pilotos-img{
  margin-bottom: 20px;
}
.piloto__info{
  margin-bottom: 20px;
  padding-left: 10px;
}
.piloto__text{
  padding-left: 10px;
}
  .equipo__mostrar{
    padding-right: 10px;
  }
  .piloto__info-fecha{
    font-size: 0.75rem;
  }
  }