.inscripcion{
    background-image: url(./assets/images/1920-Fondo-Inscripcion@2x.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 70%;

}

.inscripcion__content{
    position: absolute;
    width: 100%;
    top:35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.inscripcion__img{
    width: 821px;
    height: auto;
    margin-bottom: 53px;
}
.button--inscripcion{
    
    margin-left: auto;
    margin-right: auto;

}
.inscripcion__text{
    font-size: 1.125rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    max-width: 1140px;
    font-family: ToyotaType-Regular;
    margin-bottom: 22px;
    line-height: 1.4rem;

}
.inscripcion__bg-img{
    width: 100%;
}
@media(max-width:900px){
   .inscripcion__img{
       width: 90%;
   }
   .inscripcion__text{
    width: 90%;
   }
}

@media(max-width:500px){
    .inscripcion__img{
        width: 90%;
    }
    .inscripcion__text{
        font-family: DecimaMonoPro;
        line-height: 1.6rem;
        font-size: 1.125rem;
        width: 87%;

    }
  
 }