.header__text-resultados{
    width: max(32vw, 340px);
}
.resultados{
    margin-top: 75px;
    overflow-x: auto;
    transform: rotateX(180deg);

}
.grid-clasif{
    overflow-x: auto;
    width: 1270px;
    transform: rotateX(180deg);


}

.center-content--resultados{
	
	max-width: 1270px;
	margin-left: auto;
	margin-right: auto;
}
.grid-clasif__first-row{
    text-transform: uppercase;
    font-size: 1rem;
    font-family: DecimaMonoPro;
    display: flex;
    height: 75px;
    border-bottom: lightgrey 1px solid;
   
}
.grid-clasif__junior{
    border-radius: 40px;
    background-color: #E60010;
    width: fit-content;
    padding: 5px 8px 5px 8px;
    border:none;
    color:#fff;
    font-size: 0.75rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: DecimaMonoPro;

}
.grid-clasif__equipos-row{
   
    font-size: 1rem;
    font-family: ToyotaType-Regular;
    display: flex;
    height: 120px;
    border-bottom: lightgrey 1px solid;
   
}

.grid-clasif__ronda{
    width: 90px;
    display: flex;
    justify-content: center;
    padding-top: 30px ;
}

.grid-clasif__equipo{
    width: 150px;
    display: flex;
    justify-content: center;
    padding-top: 30px ;
}
.grid-clasif__piloto{
    width: 220px;
    display: flex;
    justify-content: flex-start;
    padding-top: 30px ;
}
.grid-clasif__pos{
    width: 90px;
    display: flex;
    justify-content: center;
    padding-top: 30px ;
}
.grid-clasif__equipos-row-ronda{
    display: flex;
    flex-direction: column;
}
.grid-clasif__points1{
    text-align: center;
}
.grid-clasif__equipos-row-pos{
    align-items: center;
    padding-top: 0;
}
.grid-clasif__equipos-row-piloto{
    justify-content: space-evenly;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    
   
}
.grid-clasif__points2{
    color:#999999;
    text-align: center;
    margin-top: 3px;
}
.grid-clasif__equipos-row-equipo{
    padding-top: 0;
    align-items: center;

}
.grid-clasif__equipos-row-ronda{
    text-align: center;
    padding-top: 0;
}
.grid-clasif__logo-img{
    width: 75px;
    height: auto;
}
.par {
    background-color:#F2F2F2 ;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}
.container-blur{
    position: relative;
}
#last-column-blur{
    position: absolute;
    width: 100px;
    height: 100%;
    right: 0;
}
.explicacion{
    margin-top: 100px;
    margin-bottom: 100px;
}
.explicacion__text {
   
        font-size: 1rem;
        margin-top: 20px;
        font-family: ToyotaType-Regular;
        line-height: 1.3rem; 
}
.button--reglamento {
    margin-left: auto;
    margin-right: auto;
    margin-top: 66px;
}
@media (max-width:1200px){
    .grid-clasif{
        height: fit-content;
        overflow-y: auto;
    }
    
    .blur-element{
        position: absolute;
        width: 66px;
        height: 100%;
        z-index: 1;
        right: 0;
        top: 10px;
        background: linear-gradient(to right,rgba(255,255,255,0.6) 0%,rgba(255,255,255,1) 100%);
    }
}

@media(max-width:500px) {

    .grid-clasif__pos{
        width: 70px;
      
    }
    .grid-clasif__piloto{
        width: 200px;
        padding-left: 20px;
    }

    .grid-clasif__pos {
      
       width: 30px;
       
        padding-left: 5px;
    }

    .grid-clasif__equipos-row-piloto {
       font-family:DecimaMonoPro;
    }

    .grid-clasif__logo-img {
        width: 60px;
       
    }
    .resultados {
        margin-top: 60px;
    }
    .grid-clasif__equipos-row{
   
        height: 90px;
    }
    .explicacion{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .explicacion__text {
   
     
        font-family: DecimaMonoPro;
        
}
.button--reglamento {
    
    margin-top: 30px;
}
}